# Node stuff
node_modules

# Nocodb stuff
.env

# Microstuff
.vscode

# Hugo related stuff
site/node_modules
site/public
site/resources
site/.hugo_build.lock

# Python related stuff
py/venv
py/fclone

# Internal settings
config/express.json
