#clickable {
    color: black;
    background-color: #ffff01;
    padding: 1em;
    border-radius: 20px;
    border: 1px solid red;
    text-decoration-line: none;
}

#clickable:hover {
    cursor: pointer;
    border: 3px solid red;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#img-container {
    animation: slideInFromBottom 0.5s;
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

#description-container {
    animation: slideInFromBottom 0.5s;
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-secondary-dark);
    color: var(--color-primary);

    border-radius: 10px 10px 0px 0px;
}

.click-to-next {
    /* this is a class used for a small label that need to 
     * inform the user that he can click on the image */
    color: var(--color-primary);
    font-size: 0.8em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 2px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-accent);
    cursor: grab;
}