<div class="text-center text-md-start ">

  <style>
  .logo-table {
    padding-top: 1em;
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  td {
   text-align: center;
  }
  .our--logos {
    padding-top: 1em;
    width: 60%;
  }
  </style>

  <!-- Section: Logos  -->
  <section style="padding-top:1em">

    <table class="logo-table">
      <td>
        <a target=_blank href="https://hermescenter.org">
          <img 
            style="padding-left: 1em"
            class="our--logos" src="/logos/hermes.png" />
        </a>
      </td>
      <td>
        <a target=_blank href="https://infonodes.org">
          <img class="our--logos" src="/logos/infonodes.jpeg" />
        </a>
      </td>
      <td>
        <a target=_blank href="https://www.thegoodlobby.eu">
          <img class="our--logos" src="/logos/thegoodlobby.png" />
        </a>
      </td>
    </table>

  </section>
</div>
