<div class="text-center text-md-start ">

  <style>
  .supporter-table {
    padding-top: 1em;
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  td {
   text-align: center;
  }
  .our--logos {
    padding-top: 1em;
    width: 60%;
  }
  .closing {
    text-align: center;
    font-size: 0.8em;
  }
  </style>

  <section>

    <div class="closing">(Want to add your organization here? <a
        href="https://github.com/hermescenter/dontspy.eu/issues/1" target=_blank>
        reach out us here, with a logo and link
      </a>), or <a class="nav--campaign" href="/about#contacts">get in touch</a>. Supported by:
    </div>

    <table class="supporter-table">
      <tr>
        <td>
          <a target=_blank href="https://www.privacy-network.it">
            <img class="our--logos" style="padding-bottom:1em"
              src="/logos/privacynetwork.png" />
          </a>
        </td>
        <td>
          <a target=_blank href="https://ps.lesoiseaux.io/">
            <img class="our--logos" src="/logos/petites-singularites.svg" />
          </a>
        </td>
        <td>
          <a target=_blank
            href="https://github.com/hermescenter/dontspy.eu/issues/2">
            <img class="our--logos" src="/logos/placeholder.png" />
          </a>
        </td>
        <td>
          <a target=_blank
            href="https://github.com/hermescenter/dontspy.eu/issues/2">
            <img class="our--logos" src="/logos/placeholder.png" />
          </a>
        </td>
      </tr>

    </table>

  </section>
</div>
